<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Data Science skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Machine Learning</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="93%">
                <div class="skillbar-title"><span>Statistics</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">93%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Visualization</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="96%">
                <div class="skillbar-title"><span>Story telling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">96%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="98%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">98%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="92%">
                <div class="skillbar-title"><span>R</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="86%">
                <div class="skillbar-title"><span>PySpark</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">86%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="89%">
                <div class="skillbar-title"><span>C++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">89%</div>
            </div>
            <!-- /.skillbar --> 
		 
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="78%">
                <div class="skillbar-title"><span>Java</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">78%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Technology Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Deep Learning</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="88%">
                <div class="skillbar-title"><span>Tableau</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">88%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="65%">
                <div class="skillbar-title"><span>SAS JMP</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->   
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Music</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Adventure</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="96%">
                <div class="skillbar-title"><span>Reading</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">96%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Extra tools Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Shell Scripe</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Hadoop</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>D3.js</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
 
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="https://github.com/AnkitSwarnkar/AnkitCV/blob/master/Resume_AnkitSwarnkar_IUB.pdf">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Data Science Intern <span class="duration"><i class="fa fa-calendar color"></i> May 2017 - Dec 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span>Micron Technology Inc</h6>
                <p>Applied data science tools and tactics to help Global quality department gain useful insight from data. Worked on various project of core machine learning, image analytics, quality control and causal inference</p>
            </li>
            <li>
                <h5>Data Science and AI Intern <span class="duration"><i class="fa fa-calendar color"></i> Jan 2017 - May 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> Shoptaki Inc</h6>
                <p>Leveraged data science tactics on blockchain while doing a Co-op with Amazing startup and helped in formulating deep learning architecture for great vision</p>
            </li>
	   <li>
                <h5>System Engineer DevOps <span class="duration"><i class="fa fa-calendar color"></i> July 2014 - July 2016</span></h5>
                <h6><span class="fa fa-briefcase"></span> Bank of New York Mellon Technology</h6>
                <p>Developed automation scripts and supported Web Domain of BNY mellons applications to help in reducing fintech web application projects turnaround and production performance </p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Master of Science <span class="duration"><i class="fa fa-calendar color"></i> Aug 2016 - May 2018</span></h5>
		    <h6><span class="fa fa-book"></span>Data Science</h6>
                <h6><span class="fa fa-book"></span>Indiana University Bloomington</h6>
		
                <p>Learned various data science tools and tactics which can be leveraged to solve the real world data science challenge. Also co-founded IU Data Science Consulting club to help people with their data science challenges</p>
            </li>
            <li>
                <h5>Bachelor of Engineering<span class="duration"><i class="fa fa-calendar color"></i> 2010 - 2011</span></h5>
                <h6><span class="fa fa-book"></span> University of Pune</h6>
                <p>Leared the foundation and fundamentals of advance computer world which laid a strong stepping stone to learn more advance concepts of data science</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Best Project<span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2014</span></h5>
		    <h6><span class="fa fa-book"></span>Computer Engineering</h6>
                <h6><span class="fa fa-trophy"></span>MIT Academy of Engineering, Pune</h6>
                <p>Grabbed the first position in project presentation at univeristy level. Presented the project of open sourcing of Amazon Elastic Map Reduce webservices</p>
	      </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Manager references</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
            <li class="clearfix">
                <img src="https://images.forbes.com/media/lists/companies/persistent-systems_416x416.jpg" class="img_reference" width="100" height="100" alt="Persistent System">
                <p>“Ankit is..”</p>
                <span>Lalit Bhattacharya, Senior Lead</span>
            </li>
            <li class="clearfix">
                <img src="https://images.forbes.com/media/lists/companies/amazon-web-services_416x416.jpg" class="img_reference" width="100" height="100" alt="Amazon Web Services">
                <p>“Ankit is..”</p>
                <span>Ramesh Dwarkanath, Solution Architecture</span>
            </li>
            <li class="clearfix">
                <img src="https://images.forbes.com/media/lists/companies/micron-technology_416x416.jpg" class="img_reference" width="100" height="100" alt="Micron">
                <p>“Ankit...”</p>
                <span>Daron Huffaker, Global Quality Data Science Manager</span>
            </li>
        </ul>
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->
